<% layout('/campgrounds/layouts/boilerplate') %> 
 
<div id="map" style="width:100%;height:500px"></div>
    <form action="/results/?" class="d-flex mb-3 mt-4 border border-dark">
        <input class="form-control me-2" type="search" placeholder="Search Your Campgrounds ...." name="search_query" aria-label="Search">
        <button class="btn btn-outline-dark" type="submit">Search</button>
      </form>
    <h1>  all campgrounds %> </h1>
        <% for(let i of campgroun){ %> 
            <div class="card mb-3">
                <div class="row">
                    <div class="col-md-4">
                        <% if(i.image.length) {%> 
                        <img class="img-fluid" alt="" src="<%= i.image[0].url%> ">
                    <% }else{ %>
                        <img class="img-fluid" src="https://www.freeiconspng.com/uploads/no-image-icon-10.png" alt="">
                    <% } %> 
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><%=i.title %> </h5>
                            <p class="card-text"><%= i.description%> </p>
                            <p class="card-text">
                                <small class="text-muted"><%= i.location %> </small>
                            </p>
                            <a href="/campgrounds/<%=i._id %> " class="btn btn-primary">view</a>
                        </div>
                    </div>
                </div>
            </div>
            <% } %> 
<script>
  const mapToken='<%-process.env.MAP_BOX_TOKEN %>';
  const campgrounds={features:<%- JSON.stringify(campgroun) %>} 
</script>
<script src="/javascript/clustermaap.js"></script>